/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #434455;
  background-color: white;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/*header*/
.page-header {
  background-color: white;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header .logo-part {
  color: #2e2f42;
}
.navigation-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*main*/
.conteiner {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.container-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.btn-box {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

.btn-box-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

/*footer*/
.page-footer {
  background-color: #2e2f42;
}

.logo-footer .logo-part {
  color: #f4f4fd;
}
